@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body * {
    font-family: 'Roboto', sans-serif;
}

main {
    width: 100%;
    max-width: 80%;
    margin: auto;
}

h1{
    font-family: 'Anton', sans-serif;
}

h2 {
    font-family: 'Anton', sans-serif;
}

h3 {
    font-family: 'Anton', sans-serif;
}

.container_nav {
    background-color: black;
}

.navbar {
    width: 100%;
    max-width: 80%;
    margin: auto; 
}

.navbar img {
    width: auto;
    height: 70px;
}

.navbar .navbar-brand {
    width: 40px;
    height: auto;
}

.nav-item .nav-link active {
    color: #FDC309;
}

/********************************HERO SECTION*/

#carouselExampleAutoplaying {
    display: flex;
}

.carousel-item img {
    object-fit: cover;
}

.txt_slider {
    position: absolute;
    text-align: center;
    padding: 0 250px;
    top: 430px;
}

.txt_slider_ {
    position: absolute;
    text-align: left;
    padding: 50px 100px;
    top: 100px;
}

.txt_slider h1 {
    color: #FDC309;
    text-shadow: 5px 5px 10px #000000;
}

.txt_slider_ h2 {
    font-size: 50px;
    color: #FDC309;
    text-align: left;
    text-shadow: 5px 5px 10px #000000;
}

.txt_slider p {
    color: #ffffff;
    text-shadow: 5px 5px 5px #000000;
}

/*****************************************DESTACADOS*/

#Destacados {
    width: 100%;
}



/*****************************************CARDS*/

.btn {
    position: bottom;
}

/*****************************************SECTION SMOTH*/
.smoth {
    background-color: #FDC309;
}

.smoth .card {
    border-style: none;
    background-color: #FDC309;
    width: 100%;
    max-width: 80%;
    margin: auto;
}

.smoth img {
    width: 400px;
    height: auto;
}
/*****************************************Icon Section*/

img {
    width: 50px;
    height: auto;
}

/******************************************FORM*/

input .placeholder {
    color: rgb(223, 221, 221);
}

.warnings {
    width: 200px;
    text-align: center;
    margin: auto;
    color: red;
    padding-top: 20px;
}

/*+++++++++++++++++++++++++++++++++++++++++CAROUSEL*/
  
.carousel img {
    width: 200px;
    height: auto;
    align-items: center;
}

/*******************************************WHATSAP*/

a{
    text-decoration: none;
  }
  #whatsapp {
      position: fixed;
      bottom: 20px;
      right:20px;
  }
  svg {
      width: 80px;
      display: inline-block;
    vertical-align: middle;
    filter: drop-shadow(0 1px 4px rgba(0,0,0,.4));
  }
  circle {
    fill: #25d366;
  }
  path {
      fill:  #fff;
  }
  #whatsapp a {padding: 20px 0;}
  #whatsapp a::before {
      content: 'Te asesoramos';
      display: inline-block;
      vertical-align: middle;
      padding: 5px 10px;
      margin-right: 10px;
      color: rgba(0, 0, 0, .8);
      background: white;
      border: 1px solid #ccc;
      border-radius: 20px;
      filter: drop-shadow(0 1px 4px rgba(0,0,0,.4));
      transition: .3s ease;
      opacity: 0;
  }
  #whatsapp:hover a::before {opacity: 1;}

/*******************************************FOOTER*/

footer {
    background-color: #000000;
    width: 100%;
    height: auto;
}

footer img {
    width: 180px;
    height: auto;
}

footer .grupo-1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0;
}

footer .bi-facebook {
    color: #ffffff;
    font-size: x-large;
}

footer .bi-instagram {
    color: #ffffff;
    font-size: x-large;
}

footer .bi-whatsapp {
    color: #ffffff;
    font-size: x-large;
}

@media screen and (max-width: 600px){
    footer .grupo-1{
        width: 80%;
        height: auto;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0;
    } 
}
    

@media (max-width: 824px){


    /*********************************************************/
    /**********************TABLET*****************************/

    main {
        width: 100%;
        max-width: 90%;
        margin: auto;
    }

    /*********************HERO SECTION************************/

    #carouselExampleAutoplaying {
        display: flex;
    }
   
    .txt_slider {
        position: absolute;
        text-align: center;
        padding: 0 150px;
        top: 200px;
    }

    .txt_slider_ {
        position: absolute;
        text-align: left;
        padding: 30px 80px;
        top: 70px;
    }

    .txt_slider h1 {
        font-size: 35px;
        color: #FDC309;
        text-shadow: 3px 3px 6px #000000;
    }

    .txt_slider_ h2 {
        font-size: 25px;
        color: #FDC309;
        text-align: left;
        text-shadow: 3px 3px 6px #000000;
    }
    
    .txt_slider p {
        font-size: 20px;
        color: #ffffff;
        text-shadow: 5px 5px 5px #000000;
    }

    /**********************FOOTER*****************************/

    footer {
        max-width: 100%;
    }
    
    footer img {
        margin-left: 55px;
    }



@media (max-width: 534px){


    /*********************************************************/
    /**********************MOVIL*****************************/

    main {
        width: 100%;
        max-width: 90%;
        margin: auto;
    }

    h5 {
        font-size: x-large;
    }


    /*********************HERO SECTION************************/

    .navbar {
        width: 100%;
        max-height: 60px;
        max-width: 80%;
        margin: auto; 
    }

    .navbar img {
        width: auto;
        height: 40px;
    }

    #carouselExampleAutoplaying {
        display: flex;
    }
   
    .txt_slider {
        position: absolute;
        text-align: center;
        padding: 0 70px;
        top: 120px;
    }

    .txt_slider_ {
        position: absolute;
        text-align: left;
        padding: 20px 50px;
        top: 30px;
    }

    .txt_slider h1 {
        font-size: 22px;
        color: #FDC309;
        text-shadow: 3px 3px 6px #000000;
    }

    .txt_slider_ h2 {
        font-size: 18px;
        color: #FDC309;
        text-align: left;
        text-shadow: 3px 3px 6px #000000;
    }
    
    .txt_slider p {
        font-size: 13px;
        color: #ffffff;
        text-shadow: 3px 3px 3px #000000;
    }

}
}

